body{
  background-image: url("/hh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  justify-content: center;
  display: grid;
}

#survey-form{
  backdrop-filter: blur(10px);
  border-radius: 6px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
 
}
.form-group{
  margin: 10px;
  padding: 10px;
}
.form-group-checked{
  width:auto;
  margin: 10px;
  padding: 10px;
}
.form-group-radio{
  display: grid;
  width:auto;
  margin: 10px;
  padding: 10px;
}

input, select{
  width: 90%;
  padding: 10px;
}
.checkbox{
  width: auto;
}

input[type="radio"] {
  width: auto;
}

#submit{
  text-align: center;
  padding: 10px;
  background-color:khaki;
  display: block;
  width: 30%;
}
