body{
  background-image: url("https://lh3.googleusercontent.com/proxy/iI_gFLw3GlTCX3lc2lKFvN8UFt0KuC07ueoDmIeAEyBKV7t_ZhbOlGlW1XRg4eH4r4D2vLjuiaPNp68hzU_VINMvmFqixYJjlj-jL4MfFADPiRdwNqP5pV8uXJmka_Dl1q-E7gs");
  color: #ffffff;
  justify-content: center;
  text-align: center;
}
.hhh{
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
div{
  display: block;
}
#survey-form{
  padding: 10px;
  background: rgba(76, 175, 80, 0.7);
  width: 50%;
  justify-content: flex-center;
  text-align: center;
}
.form-group{
  text-align: center;
  justify-content: flex-center;
  margin: 10px;
  padding: 10px;
}
input, select{
  width: 50%;
  padding: 10px;
}
#title{
  justify-content: center;
}
input[type="radio"] {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  height:20px;
  background: red;
}
